.App {
}

h3 {
    text-align: left;
}

p {
    text-align: left;
}

.app-body {
  margin-left:10px;
  margin-right:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dropdown {
  margin: 10px;
  display: flex;
  justify-self: left;
  justify-items: left;
  min-width: 50px;
  max-height: fit-content;
}
.nav-container {
  margin: 10px;
  display: flex;
  justify-self: center;
  justify-items: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.map-image-container {
  position: relative;
  top: 0;
  left: 0;
}
#map-image {
  position: relative;
  width: 25%;
  top: 0;
  left: 0;
  border: 1px solid #000000;
}
.features {
  position: absolute;
  /* left: 924px;
  top: 66.5px; */
  border: 0px solid #000000;
}
#map-image {
  display: flex;
  justify-self: center;
  align-self: center;
}
.header-button{
  margin-top: 10px;
  margin-left: 10px;
}
.location-header {
    text-align: left;
}
.location-nav{
  display: flex;
  padding-bottom: 20px;
}
.home-content{
  margin: 5px;
}
.tabs{
  margin-top: 5px;
  margin-left: 5px;
}

.table-new-item-form {
  margin: 1em;
}
