.App {
  text-align: center;
}
.app-body {
  margin-left:10px;
  margin-right:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dropdown {
  margin: 10px;
  display: flex;
  justify-self: left;
  justify-items: left;
  min-width: 50px;
  max-height: fit-content;
}
.nav-container {
  margin: 10px;
  display: flex;
  justify-self: center;
  justify-items: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.header-button{
  margin-top: 10px;
  margin-left: 10px;
}
.map-nav{
  display: flex;
  padding-bottom: 20px;
}
.home-content{
  margin: 5px;
}
.tabs{
  margin-top: 5px;
  margin-left: 5px;
}
.table-btns{
  padding: 0px 5px !important;
}
