.map-layer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#map-image {
    width: 100%;
    border: 1px solid #000000;
    display: flex;
    justify-self: center;
    align-self: center;
}

.mirrored {
    transform: scaleY(-1);
}

.features {
    position: absolute;
    border: 0px solid #000000;
    transform: translate(-50%, -50%);
}

.layer-radio-form {
    margin-left: 1%;
}

.map-image-container {
    min-width: 50%;
    position: relative;
    align-content: center;
}

img.thumbnail-image {
    width: 120px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}
