.popUpClassShow{
  display: block;
  width: 100%;
}

.inner-modal{
  text-align: left;
}

.form-div{
  width: 50%;
}

.icon-select-label{
  margin-top: 20px;
}

.iconImg:hover{
  cursor: pointer;
  background-color: #ccc;
  border-radius: 5px;
}

.selectedIcon{
  background-color: black;
}