.new-layer{
  margin: auto;
}
.new-layer-form{
  margin: auto;;
}
.option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.radio-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 1%;
}