.main-header{
  margin: 20px;
  text-align: center;
}
.work-items-table{
  margin-left: 50%;
  transform: translate(-50%, 0%);
  width: 90% !important;
  table-layout: auto;
}
img.work-items-images {
  border: 1px solid #ddd;
  border-radius: 4px;
}
img:hover.work-items-images {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.image-parent{
  position: relative;
  height: 100%;
  width: 150px;
  margin: auto;
}
.work-items-images{
  position: relative;
  width: 150px;
}
.imageBorderDiv{
  border: solid;
  position: absolute;
  color: red;
}
